@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
    font-size: 10px;
    --primary-color-1: #7B2587;
    --primary-color-2: #9f3fac;
    --primary-color-3: #d26fdf;
    --primary-color-4: #f6b3ff;
    --accent-color-1: #B4D46C;
    --accent-color-2: #d4f683;
    --accent-color-3: #e8ffb1;
    --neutral-color-1: #111;
    --neutral-color-2: #444;
    --neutral-color-3: rgb(182, 182, 182);
    --neutral-color-4: #fff;
}
/* END RESET */

body {
    font-size: 1.8rem;
    font-family:"Roboto Mono", sans-serif;
    font-weight: 300;
    color: var(--neutral-color-4);
    background: var(--neutral-color-1);
}
p {
    margin: 20px 0px;
    line-height: 1.3;
}
a {
    color: var(--neutral-color-3);
    text-decoration: none;
    border-bottom: 2px dashed transparent;
    padding-bottom: 5px;
}
a:hover {
    color: var(--accent-color-2);
    border-bottom: 2px dashed var(--accent-color-2);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 40px;
}
h1 {
    font-size: 3.8rem;
    font-weight: 600;
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Poppins";
    text-align: center;
}
h3 {
    font-size: 2.4rem;
}
.fa-brands {
    font-size: 3rem;
    padding: 0px 10px;
}
/* CONTAINERS */
.main {
    padding: 40px 10%;
}
.divider {
    border-top: 3px dashed var(--neutral-color-1);
    height: 40px;
}
/* TOPNAV */
.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.logo {
    margin-right: auto;
}
.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* PAGE HEADER */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    background: url(./assets/wave-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.avatar {
    height: 250px;
    border-radius: 50%;
}
.intro h1 {
    margin-bottom: 0px;
}
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 280px;
    margin: 40px auto 0px auto;
}

/* WORK & PLAY SECTIONS */
#work {
    background: url(./assets/wave-haikei2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 100px;
    margin-top: -5px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: var(--neutral-color-3);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4);
}
.back-link {
    display: block;
    margin: 40px auto;
    width: fit-content;
}
/* CONNECT SECTION */
#connect {
    background: var(--primary-color-1);
    text-align: center;
}
.connect-link a {
    color: white;
}
.connect-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 280px;
    margin: 0 auto; 
}

/* MEDIA QUERIES */
@media screen and (min-width: 700px) {
    .main {
        padding: 40px 15%;
    }
    .intro {
        background-position: center;
    }
}
@media screen and (min-width: 900px) {
    .main {
        padding: 60px 20%;
    }
    body {
        font-size: 2rem;
    }
}